<%= render 'menu' %>
<div id="main">
  <div class="content">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
  <p>Please enter your password:</p>
  <%= form_tag({controller: "sessions", action: "create"}, method: "post", class: "pure-form") %>
  <%= password_field_tag :password %>
  <%= submit_tag "Submit", :class => 'pure-button login-button' %>

  </div>
</div>