<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <p>[add bar]</p>
            <p>[search bar]</p>

            <h4>COLLECTIONS</h4>

            <ul>
              <% all_collections.each do |collection| %>
                <li><a href="#"><%= collection %></a></li>
              <% end %>
            </ul>
        </div>
    </div>

    <div id="main">

        <div class="content">
            <h1><%= @user.username %></h1>

            <% @user.bookmarks.each do |bookmark| %>
              <div class="bookmark">
                <h3><a href="<%= bookmark.url %>" title="<%= bookmark.url%>" target="_blank"><%= bookmark.url%></a></h3>
                <% users_bookmark = BookmarksUser.where(user_id: @user.id).where(bookmark_id: bookmark.id).first %>
                  <p>Tags: </p>
                <% users_bookmark.collections.each do |collection| %>
                  <p><%= collection.name%></p>
                <% end %>
              </div>
            <% end %>
        </div>
    </div>
</div>