<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
        <h3><a href="/<%= @user.username %>"><%= @user.username %></a>
        </h3>
        <hr>
            <form method="post" action="/<%= @user.username %>" class="pure-form">
                <fieldset>
                    <input type="text" name="url" placeholder="Add something..." required>
                    <button type="submit" class="pure-button button-sidebar">+</button>
                </fieldset>
                <fieldset class="search-more">
                    <label>Add to Collections:</label>
                    <input type="text" name="collection" class="collection-input" placeholder="Collection name">
                    <input type="hidden" name="user">
                    <hr>
                </fieldset>
            </form>

            <form method="get" action="/<%= @user.username %>/search" class="pure-form">
                <fieldset>
                    <input type="text" name="search_string" placeholder="Find something..." required>
                    <button type="submit" class="pure-button button-sidebar">S</button>
                </fieldset>
            </form>

            <h4>COLLECTIONS</h4>

            <ul>
              <% all_user_collections.each do |collection| %>
                <li><a href="/<%= @user.username %>/collections/<%= collection %>"><%= collection %></a></li>
              <% end %>
            </ul>
        </div>
    </div>

    <div id="main">

        <div class="content">
            <h2><a href="/<%= @user.username%>">all collections</a> / <% if @collection %>
                   <%= @collection %>
                <% end %></h2>

            <%if @collection
              bookmarks = users_bookmarks_in_collection
            else
              bookmarks = @user.bookmarks
            end%>

            <% bookmarks = bookmarks.reverse %>

            <div class="pure-g">
            <% bookmarks.each do |bookmark| %>
              <div class="pure-u-1-3">
                <div class="bookmark">
                    <span class="delete">
                        <form method="post" action="/<%= @user.username %>/bookmarks/delete">
                            <input type="hidden" name="url" value="<%= bookmark.url %>">
                            <button type="submit" class="delete-button">x</button>
                        </form>
                    </span>
                  <% b_url = append_http(bookmark.url) %>
                    <h4><a href="<%= b_url %>" title="<%= b_url %>" target="_blank"><%= b_url %></a></h4>
                    <% users_bookmark = BookmarksUser.where(user_id: @user.id).where(bookmark_id: bookmark.id).first %>
                      <p class="meta">Collections:
                    <% users_bookmark.collections.each do |collection| %>
                      <a href="/<%= @user.username %>/collections/<%= collection.name %>"><%= collection.name%></a>
                    <% end %>
                    </p>
                </div>
              </div>
            <% end %>

            </div>
        </div>
    </div>
</div>
