<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
        <h3><a href="/<%= @user.username %>"><%= @user.username %></a><br>
        <small><a href="#">password protect</a></small>
        </h3>
            <form method="post" action="/<%= @user.username %>" class="pure-form">
                <fieldset>
                    <input type="text" name="url" placeholder="Add something..." required>
                    <button type="submit" class="pure-button button-sidebar">+</button>
                </fieldset>
                <fieldset class="search-more">
                    <input type="text" name="collection" class="collection-input" placeholder="Add to collection...">
                    <input type="hidden" name="user">
                </fieldset>
            </form>

            <hr>

            <form method="get" action="/<%= @user.username %>/search" class="pure-form">
                <fieldset>
                    <input type="text" name="search_string" placeholder="Find something..." required>
                    <button type="submit" class="pure-button button-sidebar">S</button>
                </fieldset>
            </form>

            <h4>COLLECTIONS</h4>

            <ul>
              <% all_user_collections.each do |collection| %>
                <li><a href="/<%= @user.username %>/collections/<%= collection %>"><%= collection %></a></li>
              <% end %>
            </ul>
        </div>
    </div>

    <div id="main">

        <div class="content">
            <h2>search results for "<%= @matcher %>":</h2>
            <% bookmarks = @search_results %>
            <% if bookmarks.empty? %>
            <p>No bookmarks that match.</p>
            <% end %>
            <div class="pure-g">
            <% bookmarks.each do |bookmark| %>
              <div class="pure-u-1-3">
                <div class="bookmark">
                    <h4><a href="<%= bookmark.url %>" title="<%= bookmark.url%>" target="_blank"><%= bookmark.url%></a></h4>
                    <% users_bookmark = BookmarksUser.where(user_id: @user.id).where(bookmark_id: bookmark.id).first %>
                      <p class="meta">Collections:
                    <% users_bookmark.collections.each do |collection| %>
                      <a href="/<%= @user.username %>/collections/<%= collection.name %>"><%= collection.name%></a>
                    <% end %>
                    </p>
                </div>
              </div>
            <% end %>

            </div>
        </div>
    </div>
</div>
