<%= erb :'users/menu' %>

    <div id="main">

        <div class="content">
            <h2>search results for <%= @search_array.join(" + ") %>:</h2>
            <% bookmarks = @search_results %>
            <% if bookmarks.empty? %>
            <p>No bookmarks that match.</p>
            <% end %>
            <% bookmarks = bookmarks.reverse %>
            <div class="bookmarks-container">
            <% bookmarks.each do |bookmark| %>
            
              <div class="pure-u-1">
                <div class="bookmark">
                    <span class="delete">
                        <form method="post" action="/<%= @user.username %>/bookmarks/delete">
                            <input type="hidden" name="url" value="<%= bookmark.url %>">
                            <button type="submit" class="delete-button">x</button>
                        </form>
                    </span>
                  <% b_url = append_http(bookmark.url) %>
                    <h4><a href="<%= b_url %>" title="<%= bookmark.title %>" target="_blank"><%= bookmark.title %></a></h4>
                    <h6><a href="<%= b_url %>" title="<%= b_url %>" target="_blank"><%= b_url %></a></h6>
                    <h6><%= bookmark.desc %></h6>
                    <h6><%= bookmark.keywords %></h6>
                    <% users_bookmark = BookmarksUser.where(user_id: @user.id).where(bookmark_id: bookmark.id).first %>
                      <p class="meta">Collections:
                    <% users_bookmark.collections.each do |collection| %>
                      <a href="/<%= @user.username %>/collections/<%= collection.name %>"><%= collection.name%></a>
                    <% end %>
                    </p>
                </div>
              </div>

            <% end %>
            </div>
        </div>
    </div>
</div>
