<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">

        <h3><a href="/<%= @user.username %>" class="clear"><%= @user.username %></a>
        </h3>
        <% if @user.password.nil? %>
        <a href="/<%= @user.username %>/login"><img src="/img/unlocked.png" alt="Sign up"></img></a>
        <% elsif @user.password && session[:users] && session[:users].include?(@user.id)%>
        <a href="/<%= @user.username %>/logout"><img src="/img/unlocked.png" alt="Log Out"></img></a>
        <% elsif @user.password && session[:users] && session[:users].nil? %>
        <a href="/<%= @user.username %>/login"><img src="/img/locked.png" alt="Log In"></img></a>
        <% elsif @user.password && session[:users] && !session[:users].include?(@user.id)%>
        <a href="/<%= @user.username %>/login"><img src="/img/locked.png" alt="Log In"></img></a>
        <% else %>
        <a href="/<%= @user.username %>/login"><img src="/img/unlocked.png" alt="Sign up"></img></a>
        <% end %>

        <hr>
        <% if @existing_bookmark %>
        <p><%= @existing_bookmark.url %> already exists.</p>
        <% end %>

        <% if @url_is_invalid %>
        <p>URL is invalid, please try again.</p>
        <% end %>

            <% if (session[:users] && session[:users].include?(@user.id)) || @user.password.nil? %>

            <%= form_tag({controller: "user", action: "edit"}, method: "post", class: "pure-form") %>
              <fieldset>
                <%= hidden_field_tag(:add_bookmark, true) %>
                <%= text_field_tag(:url, "", :placeholder => "Add url...") %>
                <a class="pure-button button-sidebar show-form">+</a>
                <div class="collection-inputs hide">
                      <p>Collections:</p>
                      <%= text_field_tag("collection[]", "", :placeholder => "Collection Name", :class => "collection-input") %>
                      <span class="add-collection-input">+</span>
                      <%= submit_tag "+ Add", :class => 'pure-button button-sidebar hide' %>
                </div>
              </fieldset>
            </form>
            <hr>
            
            <% end %>

            <form method="get" action="/<%= @user.username %>/search" class="pure-form">
                <fieldset>
                    <input type="text" name="search_string" placeholder="Find something..." required>
                    <button type="submit" class="pure-button button-sidebar">s</button>
                </fieldset>
            </form>

            <h4>COLLECTIONS</h4>

            <ul>
              <% all_user_collections.each do |collection| %>
                <li><a href="/<%= @user.username %>/?collection=<%= collection %>"><%= collection %></a></li>
              <% end %>
            </ul>
        </div>
    </div>
